<section>
  <mat-card class="example-card grey-box align-center">
      <mat-card-title *ngIf="hasRSRequest && isChangeable">Detected request for {{citationTypeCode ==='BK' ? 'a' : 'an'}} {{ citationTypeMap.get(citationTypeCode) }}</mat-card-title>
      <mat-card-title *ngIf="!hasRSRequest">Select a resource sharing request</mat-card-title>
      <mat-card-title *ngIf="hasRSRequest && !isChangeable">Resource sharing request ststus is  <br/> `{{apiResult['status']['desc'] }}` <br/> can't be changed</mat-card-title>   
  </mat-card>
</section>

<section *ngIf="hasRSRequest && isChangeable ">
  <mat-card class="mat-elevation-z align-center">
    <br>
      <mat-card-actions>
        <button  
          type="button" class="padding-15-40"
          mat-raised-button color="secondary" 
          (click)="changeType()" [disabled]="loading || hasChangeResults"
          >Change to {{citationTypeCode ==='BK' ? 'an' : 'a'}} {{ citationTypeMap.get(bookToArticalSwap.get(citationTypeCode)) }} request</button>
      </mat-card-actions>
    <br>
  </mat-card>
</section>


<section>
  <mat-card class="example-card" *ngIf="hasChangeResults && !loading">
    <mat-card-content>
      <pre>{{ changeLog}}</pre>
    </mat-card-content>
  </mat-card>
</section>



<!-- Debug info - for exl_impl -->
<div *ngIf="showDebugWin">
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <hr/>
  Debug:
  <section>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Page Entity</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pre>{{ pageEntities | json }}</pre>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <mat-card class="example-card">
      <mat-card-content>
        <pre>{{ apiResult | json}}</pre>
      </mat-card-content>
    </mat-card>
  </section>
  </div>